body, html {
    font-size: 12pt;
    line-height: 1.4;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.moreLess {
    position: relative;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    max-width: 900px;
    padding: 0 8px 64px 0;
    margin: 8px auto 24px auto;
    display: flex;
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.moreless::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.moreLess.collapsed {
    height: 100px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    
    padding: 0 8px;
}

.moreLess .toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,1));
    height: 32px;
    
    padding: 0;
    
    font-size: 14pt;
    line-height: 32px;
    color: red;
    
    display: flex;
    align-items: center;
    
    transition: all 0.3s ease-in-out;
}

.hid {
    display: none !important;
}