body, html {
}

.moreLess {
    position: relative;
    transition: all 0.25s ease-in-out;
    border: dashed 1px lightgray;
    overflow: hidden;
    padding-bottom: 2em;
}

.moreLess.collapsed {
    height: 5em;
    padding-bottom: 0em;
}

.moreless > div {
    background: linear-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.9),
        rgba(255,255,255,1.0)
        );
    padding: 2em 1em 0.5em 0;
    color: teal;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    border: dashed 1px #f0f;
    text-align: right;
}


